/*
font-family: 'MavenPro', sans-serif; 
font-family: 'Quattrocento', sans-serif; 
font-family: 'Sriracha', sans-serif; 
*/


html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
}

header {
  border-top: solid 8px #57BB6B;
  background-image: url(../img/fruits.webp);
  padding-bottom: 80px;
}

.emojuice {
  text-align: center;
  background:rgba(255,255,255, 0.8);
  color: #57BB6B;
  margin: 30px;
}

/*.emojuice h1 {
  font-family: 'Sriracha', sans-serif; 
  font-weight: 100;
  font-size: 44px;
}
*/

.emojuice p {
  font-family: 'Quattrocento', sans-serif;
  font-size: 20px;
}

.button {
  color: #FFFFFF;
  background: #57BB6B;
  padding: 14px 11px;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif; 
  font-size: 18px;
  border-radius: 14px; 
}

.button-light {
  color: #57BB6B;
  background: #FFFFFF;
  padding: 14px 11px;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif; 
  border-radius: 14px; 
}

.container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
  max-width: 100%;
  height: auto;       
}

footer p {
  text-align: center;
  color: #57BB6B;
  font-family: 'Maven Pro', sans-serif; 
}

footer h2 {
  color: #57BB6B;
}

h2 {
  text-align: center;
  font-family: 'Maven Pro', sans-serif; 
}
.emoji {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 5%;
}

h3 {
  font-family: 'Sriracha', sans-serif;
}


.presentation-text p {
  font-family: 'Quattrocento', sans-serif; 
}

.banane {
background-color: #FFF8D7;
}.kiwi {
background-color: #C4F2AD;
}.cafe {
background-color: #D3C6B2;
}.strawberyy {
background-color: #F7A4B4;
}


